*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
.container{
    width: 900px;
    margin: 0 auto;
}
.apply{
    width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 40x 3px 5px rgb(1,1, 1,0.1);
    border-radius: 10px;
}
.small{
    font-size: 20px;
}
.fcont{
    margin-top: 20px;
    display: grid;
grid-template-columns: repeat(auto-fit,minmax( 200px, 1fr))
gap \: 20px;
    
}
.fcontrol{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
label{
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
input, select, textarea{
padding: 6px 10px;
border: 1px solid gray;
border-radius: 4px;
font-size: 15px;
}
input:focus{
    outline-color: red;
}
.bcon{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-out;
}
button:hover{
    background-color: white;
    border: 2px solid red;
    color: black;
    cursor: pointer;
}
